* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
    background-image: url(../Kerner_img/main.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color:  #ffffff;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    
}
.page-wrapper {
    padding: 0 125px;
}
.menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main-navigation {
    list-style: none;
    padding-right: 30px;
}
.main-navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-link, .user-button {
    text-decoration: none;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
}
.user-button {
    padding-left: 15px;
}
.sign-in-button{
    position: relative;
}
.user-button-logo {
    position: absolute;
    top: 18px;
    right: 279px;

}
.nav-link:hover, 
.user-button:hover, 
.catalog-btn:hover {
    color:  #579ac5;
}
.logo-search-wrapper,
.logo-wrap,
.phone-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

} 
.logo-search-wrapper {
        margin-top: 6%;
}
.logo-wrap {
    -ms-flex-preferred-size: 39%;
        flex-basis: 39%;
}
.phone-wrap {
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
}
.logo-discription {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.search-form {
    position: relative;
}
#search-input {
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 11px 37px 11px 30px;
    border-radius: 50px;
    position: relative;
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
#search-input:hover {
    border-color: #579ac5;
}
#search-input:focus {
    outline: none;
    border-color: #fff;
}
label[for="search-input"] {
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url(../Kerner_img/search.svg);
    left: 9px;
    bottom: 15px;
}
.phone-number {
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px
}
.back-call {
    border-radius: 15px;
    background-color:  #579ac5;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border: none;
    color: #fff;
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.back-call:hover {
    color: #000;
    background-color: #fff;
}
h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    width: 64%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 163px;
    margin-bottom: 50px;
}
.catalog-btn {
    position: relative;
    color: #ffffff;
    border: 1px solid #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 12px 15px 12px 45px;
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.catalog-btn:hover {
    background-color: #fff;
}
.catalog-btn-logo {
    background-image: url(../Kerner_img/menu-burg.svg);
    width: 18px;
    height: 14px;
    left: 16px;
    top: 14px;
    position: absolute;
}
.page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 31%;
}
.offer-wrap {
    position: relative;
    -ms-flex-preferred-size: 27%;
        flex-basis: 27%;
    padding-left: 55px;
}
.logo-offer {
    position: absolute;
    left: -3px;
    top: 3px;

}
.offer-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}
.offer-description {
    font-weight: 400px;
    margin-top: 15px;
}